pipeline/Load FactMatchedTransaction.json
{
	"name": "Load FactMatchedTransaction",
	"properties": {
		"description": "Load FactMatchedTransaction",
		"activities": [
			{
				"name": "CheckFileExists",
				"description": "",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_harmonia_matched_transaction",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "IfFileExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckFileExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('CheckFileExists').output.exists,'True')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "df_LoadFactMatchedTransaction",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_LoadFactMatchedTransaction",
									"type": "DataFlowReference"
								},
								"staging": {
									"linkedService": {
										"referenceName": "ls_adls_dwlanding",
										"type": "LinkedServiceReference"
									},
									"folderPath": "staging/PolyBase"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}